html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000; 
    color: #2c0077;

}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat; 
}

header {
    background-color: #000000;
    opacity: 0.9;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0; /* Aligns the header to the top of the viewport */
    left: 0; /* Aligns the header to the left of the viewport */
    width: 100%; /* Ensures the header spans the full width of the page */
    z-index: 100;
}

header, .hamburger-icon {
    user-select: none; /* Disables text selection */
    -webkit-user-select: none; /* For Safari */
    -ms-user-select: none; /* For older versions of Internet Explorer */
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.hamburger-menu li {
    margin: 20px 10px;
}

.hamburger-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
}

section {
    display: flex;
    align-items: center;
    padding: 40px;
    opacity: 0.9;
    margin: 40px 0; 
    color: #fff;
    background-color: #202020;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-wrap: wrap;
    width: 60%;
    max-width: 100%;
}



section div {
    flex: 1 1 100%;
    text-align: left;
}



@media (min-width: 768px) {
    section img {
        width: 50%;
        flex: 1 1 50%;
    }

    section div {
        flex: 1 1 50%;
    }
}


section:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

section h2 {
    font-size: 30px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}


.project-list {
    font-size: 20px;
    display: block;
    margin-left: 30px;
}

section p {
    font-size: 18px;
    text-align: left;
}

#about, #projects, #contact {
    margin: 0 auto;
}

#about {
    margin-top: 100px;
}

#projects, #contact {
    margin-top: 20px;
}

#projects section {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
#projects section img, #projects section video {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    flex: 1 1 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#projects ul {
    font-size: 18px;
}

#profile {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    flex: 1 1 100%;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#languages {
    font-size: 55px;
    display: block;
    width: 100%;
}

#projects i {
    font-size: 55px;
}



footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px; /* Adjust padding for size */
    background-color: #25066e;
    color: white;
    text-decoration: none;
    border-radius: 8px; /* Rounded corners */
    font-family: sans-serif; /* Use a clean font */
    font-weight: 500; /* Slightly bolder text */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    margin: 5px;
}

.social-button:hover {
    background-color: #381396; /* Darker on hover */
    transform: scale(1.05); /* Slight scale on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* More pronounced shadow */
}
.social-button i {
  margin-right: 8px; /* Space between icon and text */
}

.video-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 768px) {
    .video-container {
        padding-bottom: 75%; /* Slightly taller aspect ratio on mobile */
        max-width: 100%;
        margin: 0 auto 15px;
    }
}

@media (max-width: 768px) {
    html {
        overflow-x: hidden;
    }

    nav ul {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }

    .hamburger-menu {
        display: flex;
    }

    section {
        padding: 40px;
        margin: 20px 0;
        width: 100%;
    }

    section p {
        width: 80%;
    }

    #about img {
        width: 75%;
        height: auto;
    }

    section h3, section h4 {
        width: 100%;
        text-align: left;
        padding: 0 20px; /* Add padding to the sides */
    }

    .project-list ul {
        padding-left: 20px;
        margin-right: 20px;
        overflow-x: hidden;
        padding: 0 20px; /* Add padding to the sides */
    }

    #projects section img, #projects section video {
        width: 60%;
        height: auto;
        max-width: 70%;
    }
  
    

    footer {
        position: static;
        padding: 20px 0;
    }

}
